

  .card {
    overflow: hidden;
    background-color: var(--bg-primary);
    border-radius: var(--r-top) var(--r-right) var(--r-bottom) var(--r-left);
  }

  .card .cardBody {
    padding: 50px !important;
  }

  .card .icon {

    float: right; 
    z-index: 2;
    position: relative;
}

.card .icon svg {
  width: 90px !important; 
  height: 70px !important; }


  .card::before {
    content: "";
    position: absolute;
    filter: blur(10px);
    top: 0;
    left: 0;
    width: 95px;
    height: 95px;
    background: linear-gradient(to bottom right, #40fff2, transparent);
    border-radius: 0 0 100px 0;
    transform: translate(-20px, -20px);
    z-index: 1;
    opacity: 0.8;
}




  
