.btnIcon {
    background-color: var(--primary-color);
    color: #000;
    padding: 18px 24px;
    border-radius: 85px;
    gap: 8px;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s ease;
  }