:root {
  --bg-primary: #141414;
  --bg-secondary: #1A1A1A;
  --color-border: #262626;
  --color-paragraph: #B3B3B3;
  --white: #FFFFFF;
  --dark: #070708;
  
  --primary-color: #3BF7E4;
  --r-top: 0px;
  --r-right: 12px;
  --r-bottom: 12px;
  --r-left: 12px;
}

/*Modo Dark*/
[data-theme="dark"] {
  --white: #FFFFFF;
  --dark: #070708;
  --bg-primary: #141414;
  --bg-secondary: #1A1A1A;
  --color-border: #262626;
  --primary-color: #3BF7E4;
  --color-paragraph: #B3B3B3;

}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-primary)!important;
  font-family: "Jost", sans-serif;
  -moz-font-family: "Jost", sans-serif; 
  -webkit-font-family: "Jost", sans-serif; 
  -o-font-family: "Jost", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  color: var(--color-paragraph);
}

#contactForm input::placeholder {
  color: #666;
}
.navbar-toggler , .navbar-toggler:focus {
  border: none !important;
  box-shadow: none !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


/*=== TEXT ===*/

h1, h2, h3, h4, h5, h6, a, p, li, .f_p {
  font-family: "Jost", sans-serif;
  -moz-font-family: "Jost", sans-serif; 
  -webkit-font-family: "Jost", sans-serif; 
  -o-font-family: "Jost", sans-serif;
  z-index: 999;

}

figure { margin: 0 0 0 !important; }
.z-index { z-index: 0;}
.z-index-1 { z-index: 1;}
.z-index-9 { z-index: 9999;}


/*=========== TAMAÑO TEXTO ==============*/
.f-lg-90 { font-size: 90px;}
.f-lg-80 { font-size: 80px;}
.f-lg-70 { font-size: 70px;}
.f-lg-60 { font-size: 60px;}
.f-lg-50 { font-size: 50px;}
.f-lg-45 { font-size: 45px;}
.f-lg-40 { font-size: 40px;}
.f-lg-35 { font-size: 35px;}
.f-lg-30 { font-size: 30px;}
.f-lg-25 { font-size: 25px;}
.f-lg-20 { font-size: 20px;}
.f-lg-18 { font-size: 18px;}
.f-lg-14 { font-size: 14px !important;}
.f-lg-12 { font-size: 12px;}
.f-lg-0 { font-size: 0px !important;}

@media screen and (max-width:512px){
  .f-sm-40 { font-size: 40px;}
  .f-sm-30 { font-size: 30px;}
  .f-sm-25 { font-size: 25px;}
  .f-sm-20 { font-size: 20px;}
  .f-sm-18 { font-size: 18px;}
  .f-sm-15 { font-size: 15px;}
  .f-sm-12 { font-size: 12px;}
  .p-sm { padding: 0 !important;}
}
/*=========== font-weight ==============*/
.f_400 {font-weight: 400 !important;}
.f_500 {font-weight: 500 !important;}
.f_600 {font-weight: 600 !important;}
.f_700 {font-weight: 700 !important;}
.f_800 {font-weight: 800 !important;}


/*=========== ANCHO DE TEXTO ==============*/
.l_height { line-height: 1.9em; }

/*=========== COLOR TEXT ==============*/
.w_color {color: var(--white) !important;}
.m_color {color: var(--primary-color) !important;}
.p_color {color: var(--color-paragraph) !important;}
.d_color {color: var(--dark) !important;}

/*---- Background-Color -----*/
.-bg-primary { background-color: var(--bg-primary)}
.-bg-secondary { background-color: var(--bg-secondary)}
.-bg-cian { background-color: #44B8B6 }
.-bg-dark { background-color: var(--dark)}

.swiper-slide, .post-list article {
  content-visibility: auto;
}

/*---- PADDING -----*/
.mt_20 { margin-top: 20px; }
.mt_40 { margin-top: 40px; }
.mt_60 { margin-top: 60px; }
.mt_80 { margin-top: 80px; }
.mt_100 { margin-top: 100px; }

.mb_20 { margin-bottom: 20px; }
.mb_30 { margin-bottom: 30px; }
.mb_40 { margin-bottom: 40px; }
.mb_50 { margin-bottom: 50px; }
.mb_60 { margin-bottom: 60px; }
.mb_70 { margin-bottom: 70px; }
.mb_90 { margin-bottom: 90px; }


.pl_20 { padding-left: 20px; }
.pl_30 { padding-left: 30px; }
.pl_40 { padding-left: 40px; }
.pl_50 { padding-left: 50px; }
.pl_70 { padding-left: 70px; }
.pl_100 { padding-left: 100px; }
.pl_120 { padding-left: 120px; }
/**/
.pr_120 { padding-right: 120px; }
.pr_50 { padding-right: 50px; }
.pr_20 { padding-right: 20px; }
.pr_0 { padding-right: 0px; }
/**/
.px_50 { padding-left: 50px !important; padding-right: 50px !important;}
.py_20 { padding-top: 20px !important; padding-bottom: 20px !important;}
.mx_20 { margin-left: 20px !important; margin-right: 20px !important;}
.py_40 { padding-top: 40px !important; padding-bottom: 40px !important;}
.py_50 { padding-top: 50px !important; padding-bottom: 50px !important;}
.py_60 { padding-top: 60px !important; padding-bottom: 60px !important;}

.w-40 { width: 40%;}
.w-30 { width: 30%;}
.vh-80 {height: 80vh;}
/*==================== Position Absolute  ================================*/

.left-0 { left: 0!important;}
.right-0 { right: 0!important;}
.top-0 { top: 0!important;}
.bottom-0 { bottom: 0!important;}

/*==================== Modal Form  ================================*/

.btn, .btn:focus, .btn:hover, a, a:focus, a:hover, button, button:focus, button:hover {
  text-decoration: none !important;
  outline: none;
}

/*====================================================*/
/*--Para que el salto de linea funcione en json--*/
.line-break {
  white-space: pre-line;  
  vertical-align: bottom;
}

/*==========RESPONSIVE===========*/
/*Mobil*/
@media screen and (max-width:512px){
  .sm-w-75{width: 75%;}
  .sm-vh-50 {height: 50vh;}
  .sm-vh-80 {height: 80vh;}
  .sm-vh-100 {height: 100vh;}
  
}

/*Tablet*/
@media (min-width: 513px) and (max-width:821px){
  .ms-vh-50 {height: 50vh;}
  .ms-vh-80 {height: 80vh;}
  .ms-vh-100 {height: 100vh;}
}

.form-control:focus,  
input[type="text"]::placeholder ,  
input[type="email"]::placeholder , 
#contactForm textarea::placeholder  {
  color: #666;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.light-effect {
  width: 250px;
  height: 150px;
  background-color: #00A1A9;
  filter: blur(40px);
  border-radius: 300px;
  position: absolute;
  transition: opacity 1.2s cubic-bezier(0.16, 1, 0.3, 1);
  mix-blend-mode: soft-light;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 20%;
}


.customers_stories .swiper-pagination-bullet {
  display: inline-block;
  width: 40px;
  height: 10px;
  margin: 0 9px;
  background: #00A1A9;
  border-radius: 4px;
  cursor: pointer;
  opacity: .5;
  text-align: left;
}
.customers_stories .swiper-pagination-bullet-active {
  opacity: 1;
}
