  .banner-home { padding-top: 20vh;}
  
  .custom-cursor {
    position: fixed;
    z-index: 0;
    filter: blur(100px);
    width: 100px;
    height: 100px;
    background-color: #027c82;
    border-radius: 40%;
    transform: translate(-50%, -50%); /* Centra el círculo en el mouse */
    transition: transform 0.1s ease;
  }
  
  .glow-effect {
    position: absolute;
    width: 400px;
    height: 400px;
    background: radial-gradient(circle, rgba(0, 255, 255, 0.5) 0%, transparent 70%);
    filter: blur(100px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: -1;
  }

  .banner-container {
    z-index: 9999;
    width: 100%;
    min-height: 450px;
    display: flex;
    /* justify-content: center; */
    background: url("/img/home/our-dreamCoders.jpg") no-repeat;
    border-radius: 20px;
  }

  .content-column {
    
    background: var(--bg-secondary);  
    z-index: 2;
    width: 100%;
    position: relative;
  }
  
  /* Para escritorio: La imagen solo ocupa el 50% del ancho */
  @media (min-width: 992px) {
    .banner-container {
      background-position: right center;
      background-size: 50% 100%;
    }
    .content-column {
      padding: 40px 50px 70px 40px!important;
      border-radius: 20px 0px 80px 20px;    
      height: fit-content;
    }
  }
  
  /* Para móvil: La imagen ocupa el 100% del ancho y queda arriba */
  @media (max-width: 991px) {
    .banner-container {
      background-position: top center;
      background-size: 100% 55%;
      text-align: center;
    }

    .banner-container .row {
      flex-direction: column-reverse;
    }

    .content-column {
      padding: 20px !important;
      height: 50%;
      border-radius: 20px;}
  
    .image-column {
      height: 240px;
      width: 100%;
    }
  }
  

  

  
  
  