.banner-home { padding-top: 20vh;}
.banner-home .welcome { background-color: #070708;}
.banner-home .welcome div { background-color: #131316;}



@keyframes wave {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(-15deg); }
    40% { transform: rotate(10deg); }
    60% { transform: rotate(-10deg); }
    80% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
  }
  
  .wave-container:hover .wave-hand {
    animation: wave 0.8s ease-in-out;
  }



  
  .custom-cursor {
    position: fixed;
    z-index: 0;
    filter: blur(100px);
    width: 100px;
    height: 100px;
    background-color: #027c82;
    border-radius: 40%;
    transform: translate(-50%, -50%); /* Centra el círculo en el mouse */
    transition: transform 0.1s ease;
  }
  
  

.background-grid {
    position: absolute;
    inset: 0;
    background-color: #141414; /* Fondo oscuro */
    background-image: 
      linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px), 
      linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 40px 40px; /* Tamaño de la cuadrícula */
    pointer-events: none; /* No interfiere con clics */
    z-index: -1;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));

  }
  
  .glow-effect {
    position: absolute;
    width: 400px;
    height: 400px;
    background: radial-gradient(circle, rgba(0, 255, 255, 0.5) 0%, transparent 70%);
    filter: blur(100px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: -1;
  }

  .banner-containerrr {
    width: 100%;
    background: url("/img/home/our-dreamCoders.jpg") right center / 50% auto no-repeat;
    background-size: contain;
    max-width: 100%;
    height: auto;
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
  }
  
  .banner-imagerrr img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    right: 0;
    top: 0;
    z-index: 1;
  }
  
  .banner-textrrr {
    border-radius: 20px 0px 80px 20px;
    background: var(--bg-secondary);  
    height: 90%;
    z-index: 2;
    position: relative;
  }

  .banner-container {
    z-index: 9999;
    width: 100%;
    min-height: 450px;
    display: flex;
    /* justify-content: center; */
    background: url("/img/home/our-dreamCoders.jpg") no-repeat;
    border-radius: 20px;
  }

  .content-column {
    
    background: var(--bg-secondary);  
    z-index: 2;
    width: 100%;
    position: relative;
  }
  
  /* Para escritorio: La imagen solo ocupa el 50% del ancho */
  @media (min-width: 992px) {
    .banner-container {
      background-position: right center;
      background-size: 50% 100%;
    }
    .content-column {
      padding: 40px 50px 70px 40px!important;
      border-radius: 20px 0px 80px 20px;    
      height: fit-content;
    }
  }
  
  /* Para móvil: La imagen ocupa el 100% del ancho y queda arriba */
  @media (max-width: 991px) {
    .banner-container {
      background-position: top center;
      background-size: 100% 55%;
      text-align: center;
    }

    .banner-container .row {
      flex-direction: column-reverse;
    }

    .content-column {
      padding: 20px !important;
      height: 50%;
      border-radius: 20px;}
  
    .image-column {
      height: 240px;
      width: 100%;
    }
  }
  

  

  
  
  