  .banner-home { padding-top: 20vh;}
  
  /* .custom-cursor {
    position: fixed;
    z-index: 0;
    filter: blur(100px);
    width: 100px;
    height: 100px;
    background-color: #027c82;
    border-radius: 40%;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease;
  }
  
  .glow-effect {
    position: absolute;
    width: 400px;
    height: 400px;
    background: radial-gradient(circle, rgba(0, 255, 255, 0.5) 0%, transparent 70%);
    filter: blur(100px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: -1;
  } */

  

  

  
  
  