.accordion {
    background-color: initial !important;
    box-shadow: none !important;
    color: #fff;
    border-bottom: 1px solid var(--color-border);
}
.accordion .summary span {
    margin: 30px 0 ;
}