.redefine {
    text-align: center;
    position: relative;
}

.experience {
  padding: 80px;
}

.ourDreamcoders {
  padding: 50px;
}

/* ---- Tecno Adapta ---*/
/*-- tecno adap  */

.tecno .tecno_img > div {
    border-radius: 12px;
    background-image: url("../../assets/iconos/Hondas.svg");
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid #44B8B6;
  }
  
  .tecno .tecno_img svg {
    width: 80% !important;
    height: auto;
  }

/* -- Clients -- */

.clients img {
    width: 100%;
    height: auto !important;
}

.clients .clientsSlider div {
    align-items: center;
}




/* -- Responsive -- */

 /* Desktop */
 @media screen and (min-width:900px){
    .redefine {
      padding: 100px 130px;
    }
  
  }
  /* Mobile */
  @media screen and (max-width:900px){
    .redefine { padding: 100px 35px; }
    .tecno div > div { flex-direction: column-reverse; }
    .ourDreamcoders { padding: 20px; }
  }
  
  